<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BSK Server</title>
    <link rel="stylesheet" href="https://unpkg.com/vuetify@1.0.18/dist/vuetify.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" crossorigin="anonymous">
  </head>
  <body>
    <main class="container">
      <v-app>
        <v-toolbar app dark>
          <v-toolbar-title>BSK</v-toolbar-title>
          <v-toolbar-items>
            <v-btn flat href="/">Home</v-btn>
            <v-btn flat href="/matches">Matches</v-btn>
            <v-btn flat href="/network-profiles">Networks</v-btn>
          </v-toolbar-items>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn flat href="https://github.com/intenseG/sai">Github</v-btn>
            <v-btn flat href="https://github.com/intenseG/sai/releases">Releases</v-btn>
            <v-btn flat href="https://github.com/intenseG/sai/blob/master/FAQ.md">FAQ</v-btn>
            <v-btn flat href="https://github.com/intenseG/sai/blob/master/README.md">README</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-content>
          <div class="jumbotron mt-4 text-center">
            <h1 class="display-1">404 Page Not Found</h1>
          </div>
        </v-content>
      </v-app>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vuetify@1.0.18/dist/vuetify.min.js" crossorigin="anonymous"></script>
    <script>
      function nFormatter(num, digits) {
          var si = [
              { value: 1, symbol: "" },
              { value: 1E3, symbol: "K" },
              { value: 1E6, symbol: "M" },
              { value: 1E9, symbol: "G" },
              { value: 1E12, symbol: "T" },
              { value: 1E15, symbol: "P" },
              { value: 1E18, symbol: "E" }
          ];
          var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
          var i;
          for (i = si.length - 1; i > 0; i--) {
              if (num >= si[i].value) {
              break;
              }
          }
          return (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
      }
      Vue.filter('timeAgo', function(value) {
          var epoch = +value, delta = Date.now() - epoch;
      
          if(delta > 60 * 60 * 24 * 1000) {
              let date = new Date(epoch);
              return date.toLocaleDateString() + " " + date.toLocaleTimeString();
          } else {
              return deltaToAgo(delta);
          }
      })
      Vue.filter('abbr', nFormatter)
    </script>
  </body>
</html>