<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BSK Server</title>
    <link rel="stylesheet" href="https://unpkg.com/vuetify@1.0.18/dist/vuetify.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" crossorigin="anonymous">
    <meta property="og:title" content="BSK">
    <meta property="og:type" content="website">
  </head>
  <body>
    <main class="container">
      <v-app>
        <v-toolbar app dark>
          <v-toolbar-title>BSK</v-toolbar-title>
          <v-toolbar-items>
            <v-btn flat href="/">Home</v-btn>
            <v-btn flat href="/matches">Matches</v-btn>
            <v-btn flat href="/network-profiles">Networks</v-btn>
          </v-toolbar-items>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn flat href="https://github.com/intenseG/sai">Github</v-btn>
            <v-btn flat href="https://github.com/intenseG/sai/releases">Releases</v-btn>
            <v-btn flat href="https://github.com/intenseG/sai/blob/master/FAQ.md">FAQ</v-btn>
            <v-btn flat href="https://github.com/intenseG/sai/blob/master/README.md">README</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-content>
          <v-alert :value="true" color="warning">2018-05-09 <a href="https://github.com/intenseG/sai/releases">Leela Zero 0.17 + AutoGTP v18</a>. <b>Update required.</b></v-alert>
          <div class="text-xs-center">
            <iframe width="950" height="655" seamless frameborder="0" scrolling="no" src="/static/elo.html?0#recent=2500000"></iframe>
          </div>
          <v-alert :value="true" color="info">
            {{ stats.client_24hr }} clients in past 24 hours, {{ stats.client_1hr }} in past hour.<br/>{{ stats.selfplay_total }} total self-play games ({{ stats.selfplay_24hr }} in past 24 hours, {{ stats.selfplay_1hr }} in past hour, includes {{ stats.selfplay_elf }} ELF).<br/>
            {{ stats.match_total }} total match games ({{ stats.match_24hr }} in past 24 hours, {{ stats.match_1hr }} in past hour).
          </v-alert>
          <v-container grid-list-md>
            <v-card>
              <h1 class="text-xs-center">Recent 10 Matches</h1>
              <div class="ml-3">(*) Times are displayed in {{ timezone }} time zone</div>
              <v-card-text class="text-xs-center">
                <v-data-table :items="matches" item-key="_id" hide-actions>
                  <template slot="headers" slot-scope="props">
                    <tr>
                      <th>Uploaded(*)</th>
                      <th>Network Hashes</th>
                      <th>Result</th>
                      <th>Games</th>
                      <th>SPRT</th>
                    </tr>
                  </template>
                  <template slot="items" slot-scope="props">
                    <tr>
                      <td class="time-ago">{{ props.item.time | timeAgo }}</td>
                      <td>
                        <v-tooltip top>
                          <v-btn slot="activator" flat small :href="`/network-profiles/${props.item.network1.hash}`" style="min-width: 0; text-transform: lowercase;">{{ props.item.network1.hash.slice(0, 8) }}</v-btn><span>{{ props.item.network1.training_count | abbr(4) }} +{{ props.item.network1.training_steps | abbr(3)}}</span>
                        </v-tooltip>
                        <v-tooltip top>
                          <v-btn slot="activator" flat small :href="`/match-games/${props.item._id}`" style="min-width: 0;">VS</v-btn><span>{{ props.item.is_test ? "Test Match" : "Regular Match" }}</span>
                        </v-tooltip>
                        <v-tooltip top>
                          <v-btn slot="activator" flat small :href="`/network-profiles/${props.item.network2.hash}`" style="min-width: 0; text-transform: lowercase;">{{ props.item.network2.hash.slice(0, 8) }}</v-btn><span>{{ props.item.network2.training_count | abbr(4) }} +{{ props.item.network2.training_steps | abbr(3)}}</span>
                        </v-tooltip>
                      </td>
                      <td>{{ props.item.network1_wins }} : {{ props.item.network1_losses }} ({{ props.item.winrate }}%)</td>
                      <td>{{ `${props.item.network1_wins + props.item.network1_losses} / ${props.item.number_to_play}` }}</td>
                      <td><span class="caption" v-if="props.item.SPRT === true || props.item.SPRT === false" :class="props.item.SPRT ? 'green white--text pa-1' : 'black white--text pa-1'"><b>{{ props.item.SPRT ? 'Pass' : 'Failed' }}</b></span>
                        <v-progress-linear v-else v-model="props.item.SPRT"></v-progress-linear>
                      </td>
                    </tr>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-container>
        </v-content>
      </v-app>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vuetify@1.0.18/dist/vuetify.min.js" crossorigin="anonymous"></script>
    <script>
      function nFormatter(num, digits) {
          var si = [
              { value: 1, symbol: "" },
              { value: 1E3, symbol: "K" },
              { value: 1E6, symbol: "M" },
              { value: 1E9, symbol: "G" },
              { value: 1E12, symbol: "T" },
              { value: 1E15, symbol: "P" },
              { value: 1E18, symbol: "E" }
          ];
          var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
          var i;
          for (i = si.length - 1; i > 0; i--) {
              if (num >= si[i].value) {
              break;
              }
          }
          return (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
      }
      Vue.filter('timeAgo', function(value) {
          var epoch = +value, delta = Date.now() - epoch;
      
          if(delta > 60 * 60 * 24 * 1000) {
              let date = new Date(epoch);
              return date.toLocaleDateString() + " " + date.toLocaleTimeString();
          } else {
              return deltaToAgo(delta);
          }
      })
      Vue.filter('abbr', nFormatter)
    </script>
    <script src="/static/timeago.js"></script>
    <script>
      var app = new Vue({
          el: 'main',
          data: {
              timezone: Intl.DateTimeFormat().resolvedOptions().timeZone,
              matches: "",
              stats: "",
          }
      })
      
    </script>
  </body>
</html>