<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta property="og:title" content="BSK">
    <meta property="og:type" content="website">
    <script src="/static/tablesort/tablesort.js"></script>
    <script src="/static/tablesort/tablesort.number.js"></script>
    <link href="/static/tablesort/tablesort.css" rel="stylesheet">
  </head>
  <body>
    <table id="sort" border="1">
      <thead>
        <tr>
          <th>Self-Play Hash</th>
          <th>Network</th>
          <th>Winner</th>
          <th>Move Count</th>
          <th>Started</th>
          <th>Duration</th>
          <th>Download</th>
          <th>Client</th>
          <th>Version</th>
          <th>Computer</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <script>
      Tablesort.extend('minutes', item => /minutes/.test(item), (a, b) => {
          a = (a.match(/([.\d]+) minutes/) || [])[1] || 0;
          b = (b.match(/([.\d]+) minutes/) || [])[1] || 0;
          return b - a;
      });
      new Tablesort(document.getElementById('sort'));
    </script>
  </body>
</html>